<!DOCTYPE html>
<html lang="en">
    <head> 
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - Flora花店 </title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="w">
            <ul class="keywords-list">
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=手机">母亲节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=电脑">情人节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=电视">父亲节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=厨卫家电">教师节</a>
                    <a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=家具">家具</a>
                    <a class="link" target="_blank" href="./list.html?keyword=家具">家具</a>
                    <a class="link" target="_blank" href="./list.html?keyword=家装">家装</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=厨卫家电">厨卫家电</a>
                    <a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=个护化妆">个护化妆</a>
                    <a class="link" target="_blank" href="./list.html?keyword=清洁用品">清洁用品</a>
                    <a class="link" target="_blank" href="./list.html?keyword=纸品">纸品</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=母婴用品">母婴用品</a>
                    <a class="link" target="_blank" href="./list.html?keyword=儿童玩具">儿童玩具</a>
                    <a class="link" target="_blank" href="./list.html?keyword=童装童鞋">童装童鞋</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=鞋靴">鞋靴</a>
                    <a class="link" target="_blank" href="./list.html?keyword=箱包">箱包</a>
                    <a class="link" target="_blank" href="./list.html?keyword=钟表">钟表</a>
                    <a class="link" target="_blank" href="./list.html?keyword=珠宝">珠宝</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=图书">图书</a>
                    <a class="link" target="_blank" href="./list.html?keyword=音像">音像</a>
                    <a class="link" target="_blank" href="./list.html?keyword=电子书">电子书</a>
                </li>
            </ul>
            <div class="banner-con">
                <div class="loading"></div>
            </div>
        </div>
        <div class="w">
            <div class="floor-wrap">
                <h1 class="floor-title">特别推荐</h1>
                <ul class="floor-list">

                    <!-- 换名称，加商品id，换图片 -->
                    <li class="floor-item">
                        <a href="./detail.html?productId=">
                            <span class="floor-text">双开门冰箱</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>