<!DOCTYPE html>
<html lang="en">
    <head> 
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - Flora花店 </title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="w">
            <ul class="keywords-list">
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100036">情人节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100037">母亲节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100038">父亲节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100039">教师节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100040">春节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100041">感恩节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100042">圣诞节</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100043">元旦</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?categoryId=100044">特别纪念</a>
                </li>
            </ul>
            <div class="banner-con">
                <div class="loading"></div>
            </div>
        </div>
        <div class="w">
            <div class="floor-wrap">
                <h1 class="floor-title">特别推荐</h1>
                <ul class="floor-list">

                    <!-- 换名称，加商品id，换图片 -->
                    <li class="floor-item">
                        <a href="./detail.html?productId=">
                            <span class="floor-text">双开门冰箱</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>